@media (min-width: 960px) and (max-width: 1279px){

nav{
  position: absolute;
}

#mensaje{
  font-size: 13.7px;
}

#mensaje p{

}

.logopaypal {
  position: absolute;
  width: 110px;
  height: auto;
  bottom: 5px;
  transform: translateX(30%);
}

}


@media (min-width: 601px) and (max-width: 959px) { /*TABLET*/

  body {
    height: 200vh;

  }

  nav{
    position: absolute;
    flex-direction: column;
    height: 190px;
  }


#mensaje {
  flex: 1;
  background-color: #ede6db;
  padding: 0 50px;
}

#mensaje p{
  padding: 10px 0px;
  width: 70%;
  font-size: .75m;
  font-style: italic; 
  color: #04253a;
  
}

.logopaypal {
  position: absolute;
  width: 120px;
  height: auto;
  top: 7px;
  right: 90px;
}

#cajalogo {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

#caja3 {
  display: none;
  flex: 2;
  background-color: chartreuse;
}


  #all-content{
    min-height: 130vh;
    position: relative;
  }




  #container{
    top: 60px;
    width: 100%;
    margin-left: 0;
    
  }



  #all-btn{
    height: 32%;
    margin-top: 6%;
    padding-top: 20px;
    padding-bottom: 30px;
  }

.btns-style{
  display: flex;
    flex-wrap: wrap;
}
  
.btn-alf,
.btn-style{
  font-size: 1.1em;
}

.btn-alf {
  margin: 2px;
  flex-basis: calc(80% - 10px);
  padding: 5.5px 10px;
}

.btn-style{
  flex-basis: calc(80% - 10px);
  padding: 6% 1%;
}

.btns-alfs,
.btns-style{
  height: 90%;
}

}



@media (max-width: 600px) {


  body {
    
    height: 240vh;
 
  }

  nav{
    position: absolute;
    flex-direction: column;
    height: 190px;
  }


#mensaje {
  flex: 1;
  
}

#mensaje p{
  width: 75%;
  font-size: .8em;

  font-style: italic;
 
}

.logopaypal {
  position: absolute;
  width: 90px;
  height: auto;
  top: 8px;
  right: 70px;
}

#cajalogo {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

#caja3 {
  display: none;
  flex: 2;
  background-color: chartreuse;
}


  .logopaypal {
    position: absolute;
    width: 120px;
    height: auto;
    bottom: 5px;
    transform: translateX(50%);
  }
  
  
  #container{
    width: 100%;
    margin-left: 0;
    margin-top: 39%;
    
  }



  #all-content{
    min-height: 155vh;
    position: relative;
  }

  
  #all-btn{
    height: 44%;
    margin-top: 2%;
    padding-top: 20px;
    padding-bottom: 30px;
    
  }

.btns-style{
  display: flex;
    flex-wrap: wrap;
}

.btn-alf,
.btn-style{
  font-size: 1.2em;
}
  
.btn-alf {
  margin: 2px;
  flex-basis: calc(95% - 10px);
  padding: 3px 10px;
}

.btn-style{
  flex-basis: calc(95% - 10px);
  padding: 12% 1%;
}

.btns-alfs,
.btns-style{
  height: 90%;
  width: 47%;
  margin-right: .5%;
  margin-left: .5%;
  padding: 5px 0px;
}





}

@media (min-width: 1025px){


}


